<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Contact </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="infotekhealthcare " />
    <meta name="description"
        content="Infotek Healthcare - Your partner in innovative healthcare solutions, specializing in coding and billing services." />
    <meta name="keywords"
        content="Infotek Healthcare, healthcare, medical coding, billing services, healthcare solutions, healthcare technology" />
    <meta name="author" content="Infotek Healthcare" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff" /> <!-- Sets the theme color for mobile browsers -->
    <meta property="og:title" content="Infotek Healthcare" />
    <meta property="og:description"
        content="Innovative healthcare solutions, specializing in coding and billing services." />
    <meta property="og:image" content="URL_to_image" /> <!-- Replace with actual image URL -->
    <meta property="og:url" content="https://infotekhealthcare.com/" /> <!-- Replace with your actual URL -->
    <meta name="keywords"
        content="Infotek Healthcare, medical coding, billing services, top medical billing company, healthcare solutions, revenue cycle management, medical billing software, coding compliance" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Infotek Healthcare" />
    <meta name="twitter:description"
        content="Innovative healthcare solutions, specializing in coding and billing services." />
    <meta name="twitter:image" content="URL_to_image" /> <!-- Replace with actual image URL -->


    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/bixola-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/bixola.css" />
    <link rel="stylesheet" href="assets/css/bixola-responsive.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header">
            <div class="main-header__top">
                <div class="container">
                    <div class="main-header__top-inner">
                        <div class="main-header__top-left">
                            <ul class="list-unstyled main-header__contact-list">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <div class="text">
                                        <p>Mon to Sat: 9:00am to 6:00pm</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="info@infotekhealthcare.com">info@infotekhealthcare.com</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div class="text">
                                        <p>Vellore,TamilNadu</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-header__top-right">

                            <!-- <div class="main-header__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">
                            <div class="main-menu__logo">
                                <a href="index.html"><img src="assets/images/Infoteklogo.svg" alt=""></a>
                            </div>
                            <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
                                    <li class="current megamenu">
                                        <a href="index.html">Home </a>

                                    </li>


                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul class="sub-menu">
                                            <li class="dropdown">
                                                <a href="medicalCoding.html">Medical Coding</a>
                                                <!-- <ul>
                                                    <li><a href="Emergency Department Coding.html">Emergency Department
                                                        </a></li>
                                                    <li><a href="Evaluation and Management Coding.html">Evaluation and
                                                            Management </a></li>
                                                    <li><a href="Hierarchical Condition Category (HCC) Coding.html">Hierarchical
                                                            Condition Category (HCC) Coding</a></li>
                                                    <li><a
                                                            href="In-Patient Diagnosis-Related Groups (IP DRG) Coding.html">In-Patient
                                                            Diagnosis-Related Groups </a></li>
                                                    <li><a href="Specialized Surgical Coding.html">Specialized Surgical
                                                        </a></li>
                                                    <li><a href="Interventional Radiology Coding.html">Interventional
                                                            Radiology </a></li>
                                                    <li><a href="Ancillary Coding.html">Ancillary Coding</a></li>
                                                    <li><a href="Anesthesia Medical Coding.html">Anesthesia Medical
                                                        </a></li>

                                                </ul> -->
                                            </li>
                                            <li class="dropdown">
                                                <a href="Medical Billing.html">Medical Billing</a>
                                                <!-- <ul>
                                                    <li><a href="Claims Management.html">Claims Management</a></li>
                                                    <li><a href="payment posting.html">payment posting</a></li>
                                                    <li><a href="insurence verification.html">Insurance Verification</a>
                                                    </li>
                                                    <li><a href="Patient Billing and Collections.html">Patient Billing
                                                            and Collections</a></li>

                                                </ul> -->
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="techDriven.html">Tech-Driven RCM</a>
                                        <!-- <ul class="sub-menu">
                                            <li class="dropdown">
                                                <a href="#">AI-Powered Analytics</a>

                                            </li>


                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="carrer.html">Careers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-menu__right">
                                <div class="main-menu__call">
                                    <div class="main-menu__call-icon">
                                        <span class="icon-phone"></span>
                                    </div>
                                    <div class="main-menu__call-content">
                                        <p class="main-menu__call-sub-title">Need help?</p>
                                        <h5 class="main-menu__call-number"><a href="tel:9384939396">+919384939396</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="main-menu__btn-box">
                                    <a href="contact.html" class="main-menu__btn thm-btn">Get Consulting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>


        <div class="stricky-header stricked-menu main-menu main-menu-four">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="page-header__shape-1 float-bob-y">
                <img src="assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2 float-bob-x">
                <img src="assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3 float-bob-y">
                <img src="assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header__shape-4 float-bob-x">
                <img src="assets/images/shapes/page-header-shape-4.png" alt="">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Contact</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span class="icon-down-arrow"></span></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Information Start-->
        <section class="information">
            <div class="container">
                <div class="row">
                    <!--Information Single Start-->

                    <!--Information Single End-->
                    <!--Information Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="information__single">
                            <div class="information__icon">
                                <span class="icon-phone-call"></span>
                            </div>
                            <!-- <p class="information__text">Call Us</p> -->
                            <p class="information__number"><a href="tel:+919384939396">+919384939396</a></p>
                            <a href="" class="information__btn">Call Us<span class="icon-right-arrow1"></span></a>
                        </div>
                    </div>
                    <!--Information Single End-->
                    <!--Information Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="information__single">
                            <div class="information__icon">
                                <span class="icon-gmail"></span>
                            </div>
                            <p class="information__text">Mail Us</p>
                            <p class="information__number"><a href="mailto:
                                info@infotekhealthcare.com">
                                    info@infotekhealthcare.com</a>
                            </p>
                            <!-- <a href="" class="information__btn">Drop Us A Line<span
                                    class="icon-right-arrow1"></span></a> -->
                        </div>
                    </div>
                    <!--Information Single End-->
                    <!--Information Single Start-->
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="information__single">
                            <div class="information__icon">
                                <span class="icon-location-2"></span>
                            </div>
                            <p class="information__text">Office Address</p>
                            <p class="information__number">No5,Arjunan Tower,Arani Road,Kamatchi Amman Kovil Backside

                                Sankaranpalayam,Vellore</p>
                            <!-- <a href="" class="information__btn">Directions<span class="icon-right-arrow1"></span></a> -->
                        </div>
                    </div>
                    <!--Information Single End-->
                </div>
            </div>
        </section>
        <!--Information End-->

        <!--Contact Page Start-->
        <section class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-page__left">
                            <h3 class="contact-page__title">Get in Touch</h3>
                            <p class="contact-page__sub-title"></p>
                            <div class="contact-page__form-box">
                                <form action="assets/inc/sendemail.php"
                                    class="contact-page__form contact-form-validated" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-12">

                                            <div class="col-xl-6">
                                                <div class="contact-page__input-box">
                                                    <h3 class="contact-page__input-title">FIRST NAME *</h3>
                                                    <input type="text" placeholder="" name="FirstName">
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="contact-page__input-box">
                                                    <h3 class="contact-page__input-title">LAST NAME *</h3>
                                                    <input type="text" placeholder="" name="LastName">
                                                </div>
                                            </div>

                                            <div class="contact-page__input-box">
                                                <h3 class="contact-page__input-title">COMPANY NAME *</h3>
                                                <input type="text" placeholder="" name="companyname">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="contact-page__input-box">
                                                <h3 class="contact-page__input-title">Email *</h3>
                                                <input type="email" placeholder="" name="email">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="contact-page__input-box">
                                                <h3 class="contact-page__input-title">Phone Number *</h3>
                                                <input type="text" placeholder="+1 (91)" name="Phone">
                                            </div>
                                        </div>
                                        <!-- <div class="col-xl-12">
                                            <div class="contact-page__input-box">
                                                <h3 class="contact-page__input-title">subject*</h3>
                                                <div class="contact-page__showing-sort">
                                                    <select class="selectpicker" aria-label="Default select example">
                                                        <option selected>Select ...</option>
                                                        <option value="1">Sort by popular-01</option>
                                                        <option value="2">Sort by popular-02</option>
                                                        <option value="3">Sort by popular-03</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-xl-12">
                                            <div class="contact-page__input-box text-message-box">
                                                <h3 class="contact-page__input-title">Message
                                                    <span>(Oprional)</span>
                                                </h3>
                                                <textarea name="message" placeholder="Type here..."></textarea>
                                            </div>
                                            <div class="contact-page__btn-box">
                                                <button type="submit" class="thm-btn contact-page__btn"><span
                                                        class="fas fa-paper-plane"></span>SEND
                                                    MESSAGE</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="contact-page__right">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.0809011742735!2d79.130110573809!3d12.90251931639163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad38e1040158c1%3A0xed8e02f868901df8!2sInfotek%20Health%20Care!5e0!3m2!1sen!2sin!4v1729928749291!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Page End-->


        <!--Site Footer Start-->
        <footer class="site-footer">
            <!-- <div class="site-footer__shape-1 img-bounce">
                <img src="assets/images/shapes/site-footer-shape-1.png" alt="">
            </div> -->
            <div class="site-footer__shape-2 float-bob-y">
                <img src="assets/images/shapes/site-footer-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="site-footer__top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="assets/images/Infoteklogo.svg" alt=""></a>
                                </div>
                                <p class="footer-widget__about-text" style="padding-left: 30px;">INFOTEK HEALTHCARE</p>
                                <div class="site-footer__social" style="padding-left: 30px;">
                                    <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__company">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Company</h3>
                                </div>
                                <ul class="footer-widget__company-list list-unstyled">
                                    <li><a href="Medical Billing.html">Medical Billing</a></li>
                                    <li><a href="medicalCoding.html">Medical Coding
                                        </a></li>
                                    <!-- <li><a href="financial-advices.html">Financial advices
                                </a></li>
                            <li><a href="insurance-strategy.html">Insurance strategy
                                </a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">You’ve Questions</h3>
                                </div>
                                <ul class="footer-widget__contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-location-1"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Location</h3>
                                            <p>No5,Arjunan Tower,Arani Road,Kamatchi Amman Kovil
                                                Backside</p>
                                            <p>Sankaranpalayam,Vellore</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-phone"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Contact Us</h3>
                                            <p><a href="tel: +12065121398">US: +12065121398</a></p>
                                            <p><a href="tel:+919384939396">IND: +919384939396</a></p>


                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-envelope"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Send a mail</h3>
                                            <p><a
                                                    href="mailto:info@infotekhealthcare.com">info@infotekhealthcare.com</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Newsletter</h3>
                                </div>
                                <p class="footer-widget__newsletter-text">"Stay ahead with the latest innovations in
                                    healthcare technology! Subscribe to the InfoTek Healthcare newsletter for insights,
                                    industry trends, and expert solutions delivered to your inbox.</p>
                                <form class="footer-widget__newsletter-form mc-form" data-url="MC_FORM_URL"
                                    novalidate="novalidate">
                                    <div class="footer-widget__newsletter-form-input-box">
                                        <input type="email" placeholder="Enter email address" name="EMAIL">
                                        <button type="submit" class="footer-widget__newsletter-btn"><span
                                                class="fas fa-paper-plane"></span></button>
                                    </div>
                                </form>
                                <div class="mc-form__response"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© Copyright infotekhealthcare 2025. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/Infoteklogo.svg" width="145"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@infotekhealthcare.com">info@infotekhealthcare.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+919384939396">+919384939396</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <!-- <a href="#" class="fab fa-facebook-square"></a> -->
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <!-- <a href="#" class="fab fa-instagram"></a> -->
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="assets/js/bixola.js"></script>
</body>

</html>