<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Infotek Medical Coding </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="infotekhealthcare " />
    <meta name="description"
        content="Infotek Healthcare - Your partner in innovative healthcare solutions, specializing in coding and billing services." />
    <meta name="keywords"
        content="Infotek Healthcare, healthcare, medical coding, billing services, healthcare solutions, healthcare technology" />
    <meta name="author" content="Infotek Healthcare" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#ffffff" /> <!-- Sets the theme color for mobile browsers -->
    <meta property="og:title" content="Infotek Healthcare" />
    <meta property="og:description"
        content="Innovative healthcare solutions, specializing in coding and billing services." />
    <meta property="og:image" content="URL_to_image" /> <!-- Replace with actual image URL -->
    <meta property="og:url" content="https://infotekhealthcare.com/" /> <!-- Replace with your actual URL -->
    <meta name="keywords"
        content="Infotek Healthcare, medical coding, billing services, top medical billing company, healthcare solutions, revenue cycle management, medical billing software, coding compliance" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Infotek Healthcare" />
    <meta name="twitter:description"
        content="Innovative healthcare solutions, specializing in coding and billing services." />
    <meta name="twitter:image" content="URL_to_image" /> <!-- Replace with actual image URL -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/bixola-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="assets/css/bixola.css" />
    <link rel="stylesheet" href="assets/css/bixola-responsive.css" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        <header class="main-header">
            <div class="main-header__top">
                <div class="container">
                    <div class="main-header__top-inner">
                        <div class="main-header__top-left">
                            <ul class="list-unstyled main-header__contact-list">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-clock"></i>
                                    </div>
                                    <div class="text">
                                        <p>Mon to Sat: 9:00am to 6:00pm</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="info@infotekhealthcare.com">info@infotekhealthcare.com</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker"></i>
                                    </div>
                                    <div class="text">
                                        <p>Vellore,TamilNadu</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-header__top-right">
                            <!-- <ul class="list-unstyled main-header__top-menu">
                                <li><a href="about.html">About</a></li>
                                <li><a href="about.html">Faqs</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul> -->
                            <!-- <div class="main-header__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">
                            <div class="main-menu__logo">
                                <a href="index.html"><img src="assets/images/Infoteklogo.svg" alt=""></a>
                            </div>
                            <div class="main-menu__main-menu-box">
                                <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                <ul class="main-menu__list">
                                    <li class="current megamenu">
                                        <a href="index.html">Home </a>

                                    </li>

                                    <li class="dropdown">
                                        <a href="#">Services</a>
                                        <ul class="sub-menu">
                                            <li class="dropdown">
                                                <a href="medicalCoding.html">Medical Coding</a>
                                                <!-- <ul>
                                                    <li><a href="Emergency Department Coding.html">Emergency Department
                                                        </a></li>
                                                    <li><a href="Evaluation and Management Coding.html">Evaluation and
                                                            Management </a></li>
                                                    <li><a href="Hierarchical Condition Category (HCC) Coding.html">Hierarchical
                                                            Condition Category (HCC) Coding</a></li>
                                                    <li><a
                                                            href="In-Patient Diagnosis-Related Groups (IP DRG) Coding.html">In-Patient
                                                            Diagnosis-Related Groups </a></li>
                                                    <li><a href="Specialized Surgical Coding.html">Specialized Surgical
                                                        </a></li>
                                                    <li><a href="Interventional Radiology Coding.html">Interventional
                                                            Radiology </a></li>
                                                    <li><a href="Ancillary Coding.html">Ancillary Coding</a></li>
                                                    <li><a href="Anesthesia Medical Coding.html">Anesthesia Medical
                                                        </a></li>

                                                </ul> -->
                                            </li>
                                            <li class="dropdown">
                                                <a href="Medical Billing.html">Medical Billing</a>
                                                <!-- <ul>
                                                    <li><a href="Claims Management.html">Claims Management</a></li>
                                                    <li><a href="payment posting.html">payment posting</a></li>
                                                    <li><a href="insurence verification.html">Insurance Verification</a>
                                                    </li>
                                                    <li><a href="Patient Billing and Collections.html">Patient Billing
                                                            and Collections</a></li>

                                                </ul> -->
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="techDriven.html">Tech-Driven RCM</a>
                                        <!-- <ul class="sub-menu">
                                            <li class="dropdown">
                                                <a href="#">AI-Powered Analytics</a>

                                            </li>


                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="carrer.html">Careers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-menu__right">
                                <div class="main-menu__call">
                                    <div class="main-menu__call-icon">
                                        <span class="icon-phone"></span>
                                    </div>
                                    <div class="main-menu__call-content">
                                        <p class="main-menu__call-sub-title">Need help?</p>
                                        <h5 class="main-menu__call-number"><a href="tel:9384939396">+919384939396</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="main-menu__btn-box">
                                    <a href="contact.html" class="main-menu__btn thm-btn">Get Consulting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu main-menu-four">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->


        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            </div>
            <div class="page-header__shape-1 float-bob-y">
                <img src="assets/images/shapes/page-header-shape-1.png" alt="">
            </div>
            <div class="page-header__shape-2 float-bob-x">
                <img src="assets/images/shapes/page-header-shape-2.png" alt="">
            </div>
            <div class="page-header__shape-3 float-bob-y">
                <img src="assets/images/shapes/page-header-shape-3.png" alt="">
            </div>
            <div class="page-header__shape-4 float-bob-x">
                <img src="assets/images/shapes/page-header-shape-4.png" alt="">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Medical Coding</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Services</a></li>
                        <li><span class="icon-down-arrow"></span></li>
                        <li>Medical Coding</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Portfolio Details Start-->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- <div class="portfolio-details__img">
                            <img src="assets/images/project/portfolio-details-img-1.jpg" alt="">
                        </div> -->
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title  text-primary">Medical Coding</h3>
                                    <p class="portfolio-details__text-1">By leveraging advanced coding systems and
                                        expert review
                                        processes, we minimize errors and maximize reimbursements
                                        for healthcare providers.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">We provide specialized medical coding services
                                        tailored to the
                                        specific needs of your practice. Our certified coders use the
                                        latest ICD-10, CPT, and HCPCS coding standards to accurately
                                        document inpatient and outpatient services. Through ongoing
                                        audits, real-time feedback, and compliance checks, we ensure
                                        your coding is precise and adheres to industry regulations,
                                        ultimately minimizing the risk of claim denials and delays.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li>Accurate and compliant coding to reduce errors</li>
                                        <li> Specialty-specific expertise across multiple medical fields
                                        </li>
                                        <li>Enhanced revenue cycle management with faster claim
                                            processing</li>
                                        <li>Real-time audits and feedback to maintain coding
                                            accuracy</li>
                                        <li>Denial management support to recover lost revenue</li>
                                    </ul>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Portfolio Details End-->

        <!--Emergency Dept -->
        <section class="portfolio-details" id="emergency">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Emergency Department Coding</h3>
                                    <p class="portfolio-details__text-1">Accurate coding for emergency services to
                                        ensure timely and
                                        appropriate reimbursements while maintaining compliance with
                                        industry standards.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our emergency department coding services focus
                                        on precise
                                        documentation of diagnoses and procedures, reducing the risk
                                        of coding errors in this fast-paced environment. We handle a
                                        wide range of cases, ensuring an accurate representation of
                                        care delivered in emergency settings, following all CPT and
                                        ICD-10 standards. This enables faster claim approvals and
                                        reduced denials.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li> Precise documentation for emergency services</li>
                                        <li> Reduced claim denials and rejections
                                        </li>
                                        <li>Fast and compliant coding for quick reimbursement</li>
                                        <li>Real-time audits and feedback to maintain coding
                                            accuracy</li>
                                        <li>Expertise in handling high-volume, urgent cases</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Emergency Dept end  -->

        <!--Evaluation Dept -->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Evaluation and Management Coding
                                    </h3>
                                    <p class="portfolio-details__text-1">Expert E&M coding services to ensure compliance
                                        and
                                        optimized revenue, tailored to your practice’s specific needs.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our Evaluation and Management (E&M) coding
                                        services focus
                                        on capturing the complexity of patient interactions, ensuring
                                        accurate coding that reflects the level of care provided. By
                                        using the latest E&M coding guidelines, we ensure that your
                                        practice is properly reimbursed for the time and resources
                                        spent on patient care.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li>Accurate representation of patient care complexity</li>
                                        <li> Improved reimbursements with compliant coding
                                        </li>
                                        <li>Reduced administrative workload for healthcare providers</li>
                                        <li>Real-time audits and feedback to maintain coding
                                            accuracy</li>
                                        <li>Minimized risk of audits and penalties</li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Evaluation  end  -->

        <!--Hierarical Dept -->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Hierarchical Condition Category
                                        (HCC) Coding
                                    </h3>
                                    <p class="portfolio-details__text-1">Comprehensive HCC coding that ensures accurate
                                        risk
                                        adjustment and optimized reimbursements for value-based
                                        care.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our HCC coding service ensures that chronic
                                        conditions and
                                        risk factors are accurately captured and reported. We focus on
                                        proper documentation of conditions that affect patient risk
                                        scores, which are crucial for payers in value-based care
                                        models. Our coders are skilled at recognizing conditions that
                                        need to be documented and coded, helping you avoid penalties
                                        for underreporting or miscoding.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li> Accurate risk adjustment coding
                                        </li>
                                        <li> Improved reimbursement in value-based model
                                        </li>
                                        <li>Reduction of audit risks and penalties</li>
                                        <li>Consistent compliance with HCC guidelines</li>

                                    </ul>
                                    </p>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hierarical  end  -->


        <!--surgical Dept -->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Specialized Surgical Coding</h3>
                                    <p class="portfolio-details__text-1">Advanced surgical coding expertise to ensure
                                        proper billing and
                                        documentation for complex procedures.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our specialized surgical coding team handles
                                        complex coding
                                        for a wide range of surgical procedures, ensuring compliance
                                        with both CPT and ICD-10 standards. We focus on accurately
                                        coding procedures to reflect the resources and expertise
                                        involved, reducing the risk of denials and ensuring fair
                                        compensation for surgical practices.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li>Accurate coding for complex surgeries</li>
                                        <li> Compliance with CPT and ICD-10 standards
                                        </li>
                                        <li>Reduced claim denials for surgical procedures</li>
                                        <li>Enhanced revenue with optimized coding practices</li>
                                    </ul>
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- surgical   end  -->

        <!--radiology Dept -->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Intreventional Radiology Coding
                                    </h3>
                                    <p class="portfolio-details__text-1">Accurate coding for interventional radiology
                                        procedures to
                                        ensure compliance and proper reimbursement</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our interventional radiology coding service
                                        provides specialized
                                        expertise in accurately documenting and coding radiology
                                        procedures. We ensure that all interventions are properly
                                        captured, reducing errors in coding and improving the speedand accuracy of claim
                                        submissions. With our coding team’s
                                        expertise, you can rest assured that your radiology department
                                        is compliant and efficient.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li>Expertise in coding complex interventional radiology
                                            procedures</li>
                                        <li> Faster claim approvals with reduced denials
                                        </li>
                                        <li>Accurate representation of procedures performed</li>
                                        <li>Ongoing compliance with changing regulations</li>

                                    </ul>
                                    </p>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- radiology  end  -->


        <!--ancilary Dept -->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Ancillary Coding</h3>
                                    <p class="portfolio-details__text-1">Comprehensive coding for ancillary services to
                                        ensure all
                                        supportive treatments are accurately documented and
                                        reimbursed.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our ancillary coding services cover all the
                                        additional treatments
                                        and services that support primary care, such as physical
                                        therapy, laboratory tests, and imaging. We ensure that every
                                        ancillary service is properly coded and billed, helping
                                        healthcare practices capture revenue that might otherwise be
                                        overlooked.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li>Accurate documentation for ancillary services</li>
                                        <li> Improved revenue capture for supportive treatments
                                        </li>
                                        <li> Reduced errors in coding and billing for additional services</li>
                                        <li>Faster and more efficient claims processing</li>

                                    </ul>
                                    </p>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ancilary  end  -->


        <!--anesthicia Dept -->
        <section class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                    </div>
                    <div class="portfolio-details__bottom">
                        <div class="row">
                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h3 class="portfolio-details__title text-primary">Anesthesia Medical Coding</h3>
                                    <p class="portfolio-details__text-1">Precise anesthesia coding that ensures
                                        compliance and
                                        maximizes reimbursements for anesthesia services.</p>
                                    <h5 class="fw-bold" style="padding-top: 23px;">Overview:</h5>
                                    <p class="portfolio-details__text-1">Our anesthesia coding services focus on
                                        accurately
                                        documenting anesthesia services, including pre-and
                                        post-operative care. With expertise in CPT and ICD-10 coding,
                                        we ensure that all anesthesia services are coded correctly,
                                        reducing claim denials and maximizing reimbursements for
                                        anesthesia practices.</p>
                                </div>
                            </div>


                            <div class="col-xl-10 col-lg-9">
                                <div class="portfolio-details__left">
                                    <p class="portfolio-details__sub-title"></p>
                                    <h5 class="fw-bold">Key Benefits:</h5>
                                    <p class="portfolio-details__text-1">
                                    <ul class="circleType">
                                        <li>Accurate coding for all phases of anesthesia care</li>
                                        <li> Reduced claim denials for anesthesia services
                                        </li>
                                        <li>Compliance with anesthesia coding guidelines</li>
                                        <li> Optimized reimbursement for anesthesia practices</li>

                                    </ul>
                                    </p>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- anesthicia  end  -->





        <!--Portfolio Four Start-->
        <!-- <section class="portfolio-four">
            <div class="container">
                <h3 class="portfolio-four__title">Related Portfolio</h3>
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <div class="portfolio-three__single">
                            <div class="portfolio-three__img-box">
                                <div class="portfolio-three__img">
                                    <img src="assets/images/project/portfolio-4-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="portfolio-three__content">
                                <p class="portfolio-three__sub-title">Business Audit</p>
                                <h3 class="portfolio-three__title"><a href="portfolio-details.html">Our Business
                                        Growth</a></h3>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-xl-4 col-lg-4">
                        <div class="portfolio-three__single">
                            <div class="portfolio-three__img-box">
                                <div class="portfolio-three__img">
                                    <img src="assets/images/project/portfolio-4-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="portfolio-three__content">
                                <p class="portfolio-three__sub-title">Business Audit</p>
                                <h3 class="portfolio-three__title"><a href="portfolio-details.html">Our Women’s
                                        Empowerment</a></h3>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xl-4 col-lg-4">
                        <div class="portfolio-three__single">
                            <div class="portfolio-three__img-box">
                                <div class="portfolio-three__img">
                                    <img src="assets/images/project/portfolio-4-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="portfolio-three__content">
                                <p class="portfolio-three__sub-title">Business Audit</p>
                                <h3 class="portfolio-three__title"><a href="portfolio-details.html">Our Business
                                        Audit</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--Portfolio Four End-->



        <!--Site Footer Start-->
        <footer class="site-footer">
            <!-- <div class="site-footer__shape-1 img-bounce">
                <img src="assets/images/shapes/site-footer-shape-1.png" alt="">
            </div> -->
            <div class="site-footer__shape-2 float-bob-y">
                <img src="assets/images/shapes/site-footer-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="site-footer__top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="assets/images/Infoteklogo.svg" alt=""></a>
                                </div>
                                <p class="footer-widget__about-text" style="padding-left:30px ;">INFOTEK HEALTHCARE</p>
                                <div class="site-footer__social" style="padding-left: 30px;">
                                    <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__company">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Company</h3>
                                </div>
                                <ul class="footer-widget__company-list list-unstyled">
                                    <li><a href="Medical Billing.html">Medical Billing</a></li>
                                    <li><a href="medicalCoding.html">Medical Coding
                                        </a></li>
                                    <!-- <li><a href="financial-advices.html">Financial advices
                                </a></li>
                            <li><a href="insurance-strategy.html">Insurance strategy
                                </a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__contact">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">You’ve Questions</h3>
                                </div>
                                <ul class="footer-widget__contact-list list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-location-1"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Location</h3>
                                            <p>No5,Arjunan Tower,Arani Road,Kamatchi Amman Kovil
                                                Backside</p>
                                            <p>Sankaranpalayam,Vellore</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-phone"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Contact Us</h3>
                                            <p><a href="tel: +12065121398">US: +12065121398</a></p>

                                            <p><a href="tel:+919384939396">IND: +919384939396</a></p>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-envelope"></span>
                                        </div>
                                        <div class="content">
                                            <h3>Send a mail</h3>
                                            <p><a
                                                    href="mailto:info@infotekhealthcare.com">info@infotekhealthcare.com</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__newsletter">
                                <div class="footer-widget__title-box">
                                    <h3 class="footer-widget__title">Newsletter</h3>
                                </div>
                                <p class="footer-widget__newsletter-text">"Stay ahead with the latest innovations in
                                    healthcare technology! Subscribe to the InfoTek Healthcare newsletter for insights,
                                    industry trends, and expert solutions delivered to your inbox.</p>
                                <form class="footer-widget__newsletter-form mc-form" data-url="MC_FORM_URL"
                                    novalidate="novalidate">
                                    <div class="footer-widget__newsletter-form-input-box">
                                        <input type="email" placeholder="Enter email address" name="EMAIL">
                                        <button type="submit" class="footer-widget__newsletter-btn"><span
                                                class="fas fa-paper-plane"></span></button>
                                    </div>
                                </form>
                                <div class="mc-form__response"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">© Copyright infotekhealthcare 2025. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="index.html" aria-label="logo image"><img src="assets/images/Infoteklogo.svg" width="145"
                        alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@infotekhealthcare.com">info@infotekhealthcare.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+919384939396">+919384939396</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <!-- <a href="#" class="fab fa-facebook-square"></a> -->
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <!-- <a href="#" class="fab fa-instagram"></a> -->
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>


    <script src="assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="assets/vendors/odometer/odometer.min.js"></script>
    <script src="assets/vendors/swiper/swiper.min.js"></script>
    <script src="assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="assets/vendors/wow/wow.js"></script>
    <script src="assets/vendors/isotope/isotope.js"></script>
    <script src="assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="assets/vendors/timepicker/timePicker.js"></script>
    <script src="assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="assets/vendors/circleType/jquery.lettering.min.js"></script>




    <!-- template js -->
    <script src="assets/js/bixola.js"></script>
</body>

</html>